<table class="press_releases">
  <thead>
    <th class="title">Title</th>
    <th class="released_on">Released On</th>
    <th class="tags">Tags</th>
  </thead>
  <tbody>
    <% @press_releases.each do |press_release| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to press_release.title, press_release_path(press_release) %> </td>
      <td><%= press_release.released_on.to_s(:db) %></td>
      <td><%= "foo, bar, baz" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
