<table class="users">
  <thead>
    <th class="name">Name</th>
    <th class="email">Email</th>
  </thead>
  <tbody>
    <tr class="filters">
      <td class="name"><%= text_field_tag :name, nil, :placeholder => "All Users" %></td>
      <td></td>
    </tr>
    <% @users.each do |user| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to user.name, edit_user_path(user) %></td>
      <td><%= mail_to user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>