@import "compass"

.locations
  .region
    +pie-clearfix
    +border-radius(5px)
    background-color: #d1c99d
    padding: 10px
    
    .name
      +float-left
    .count
      +float-right
    
  .chapters
    width: 98%
    margin: auto
    .chapter
      .count
        text-align: right
      &.odd
        background-color: lighten(#d1c99d, 20%)
