@import "compass"

table.press_releases, table.users, table.reporters, table.media_outlets
  width: auto

  tr
    &.filters
      background-color: #d1c99d
      td
        &:first-child
          +border-radius(5px 0 0 5px)
        &:last-child
          +border-radius(0 5px 5px 0)
    &.odd
      background-color: lighten(#d1c99d, 20%)
    td
      padding: 10px
      &:first-child
        +border-radius(3px 0 0 3px)
      &:last-child
        +border-radius(0 3px 3px 0)

table.press_releases
  th
    &.title
      width:  476px
    &.released_on
      width:  230px
    &.tags
      width:  230px

  tr
    td
      &.title
        input
          width: 454px
      &.released_on
        input
          width: 93px
      &.tags
        input
          width: 208px

table.users
  th
    &.name
      width:  300px
    &.email
      width:  466px

  tr
    td
      &.name
        input
          width: 454px

table.reporters, table.media_outlets
  +float-left
  width: 465px
  
  th
    &.title
      width:  250px
    &.hits
      width:  200px
      text-align: right

  tr
    td
      &.title
        input
          width: 240px
      &.hits
        text-align: right
        input
          width: 75px

table.reporters
  margin-right: 20px
