<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="Thank you for signing up to use abriiz&trade;">
    <title>New Media Hit Recorded</title>
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #ffffff;width: 100% !important;">
    <center>

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
      <tr>
        <td align="center" valign="top">

            <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FDFDFD;margin-top:40px;">
              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Header \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #D8E2EA;border-bottom: 0;">
                    <tr>
                      <td class="headerContent" style="line-height:100%;padding:0;text-align: center;vertical-align: middle;">

                        <!-- // Begin Module: Header Content \\ -->
                        <%= image_tag("logo.gif", :style => "margin: 0;padding: 0;width: 600px;height: 100px;line-height: 1;outline: none;text-decoration: none;", :width => "600", :height => "100", :border => "0") %>
                        <!-- // End Module: Header Content \\ -->

                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \\ -->

                </td>
              </tr>
              <tr>
                <td align="center" valign="top">

                  <!-- // Begin Template Body \\ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                    <tr>
                      <td valign="top" class="bodyContent" style="background-color: #FDFDFD;">
                
                        <!-- // Begin Module: Body Content \\ -->
                        <table border="0" cellpadding="35" cellspacing="0" width="100%">
                          <tr>
                            <td valign="top">
                              <h1 style="text-align:left;display:block;font-family: Arial,sans-serif;font-size:18px;font-weight:normal;line-height: 100%;margin-top:10px;margin-right:0;margin-bottom:15px;margin-left: 0;color:#58b6dd;"><%= (title = yield :title).present? ? title : "" %></h1>
                              <div class="copy" style="font-size:14px;line-height:24px;color:#666666;font-family: Arial,sans-serif;text-align:left;">
                                <%= yield %>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Body Content \\ -->
                        
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \\ -->
                </td>
              </tr>
            </table>
            
            <!-- // Begin Template Footer \\ -->
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin-bottom:20px;">
              <tr>
                <td align="left" width="50%">
                 
                </td>
                <td align="right" width="50%">
                  <p style="font-size: 11px; font-family:Arial;color:#999;line-height: 14px;margin:0;margin-right:35px;padding:0;">
                  </p>
                </td>
              </tr>
            </table>
            <!-- // End Template Footer \\ -->

          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
